<!DOCTYPE html>
<html>
<head>
  <title>Karl's Game</title>
    <script>
		window.server = "<%= @server %>" + '/websocket';
  </script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
